<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1 style="color:red; text-align: center;">This is an error page <%= error.message %></h1>
    <h2 style="color:red; text-align: center;">Status: <%= error.status %></h2> 
    <h4 style="color:red; text-align: center;">Stack Trace: <%= error.stack %></h4>
    
</body>
</html>
